.main-container{
    top:-50px;
    width: 50%;
    height:100px;
    position: relative;   
    margin-bottom: 50px;
    margin-left: 330px; 
    
}
#clock{
    width: 100%;
    border: 2px solid rgb(141, 189, 243);
    position: absolute;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin-top: 10%;
    background-color: rgb(141, 189, 243);
    border-radius: 10px;
}
.form input{
    background: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 240px;
}
::placeholder{
    color: white;
}